#searchBar{
    margin: 30px auto 0 auto;
    .search-input{
      &.validate{
        .v-input__slot{
          label{
            color: red;
          }
          &:before,
          &:after{
            border-color: red;
          }
        }
      }
    }
    .not-found-text{
      color: red;
    }
    .v-toolbar__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
    }
    .container{
      width: 70%;
      .button-block{
        display: flex;  
        justify-content: space-between;
      }
    }
}