.weather-day-card{
    position: relative;
    max-width: 1024px;
    margin: 30px auto;
    .header-card{
        padding: 10px 0;
        grid-column: 1/-1;
        display: flex;
        justify-content: space-between;
    }
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        padding: 20px 10px;
        margin-bottom: 20px;
        box-shadow: 0 0 5px #6b6b6b;
        background: #e0e0e066;
        border-radius: 5px;
        .v-card{
          &:hover{
            box-shadow: 0 0 10px;
          }
          .date-block{
            display: flex;
            flex-direction: column;
          }
          .v-list-item__content{
             text-align: center;
          }
          .v-list-item__content{
             justify-content: center;
           }
          .temp-block{
              display: grid;
              grid-template-columns: 1fr 1fr;
              justify-content: space-between;
              align-items: center;
              text-align: center;
            }
        }
    }
    
}
