@import './reset.scss';
@import './components/search-header.scss';
@import './components/weather-day-card.scss';
@import './components/weather-detail-day.scss';
@import './views/weather.scss';
body{
    font-family: Arial, serif;
}
